*{font-family: 'Gloock', serif;}
        body{
            margin: 0px;
        }
         
        .header{
            background-color: black;
            width: 1520px;
            margin: 0px;
            margin-bottom: -1px;
            box-sizing: border-box;
            
            
            
        }
        #box1{
            border: 0px solid lightgray;
            display: inline-block;
        }
        #box2{
            position: absolute;
            top: 6px;
            right:550px ;
            padding-left: 691px;
            
            
        }
        #box3{
            position: absolute;
            top: 12.5px;
            right: 196px;
            border: 7px solid rgb(0, 0, 0);
            font-size: 17px;
            padding-bottom: 2px;
            background-color:black;
            color: white;
            /* margin-bottom: 0px; */
        }
        .i{
            margin-top: 6px;
            padding-top: 5px;
            /* padding-bottom: 5px; */
            width: 40px;
            height: 35px;
        }
        #i1{
            width: 40px;
            height: 41px;
            /* filter: grayscale(100%); */
        }
        .btn{
            font-size: 20px;
            cursor: pointer;
            background-color: white;
            height: 40px;
            border: 0px solid white;
            border-radius: 23px;
            width: 568px;
            margin-top: 2px;
        }
        #box4{
            border: 5px solid black;
            position: absolute;
            top: 16px;
            right: 50px;
            color: white;
            display: inline;
        }
        header a{
            text-decoration: none;
            color: white;
        }
        .box1{
            border: 0px solid red;
            display: inline-block;
            background-color: rgb(231, 228, 228);
           
            padding: 0px 15px;
            margin: 1px 0px;
            width: 324px;
        }
        #ir{
            width:218px;
            height:218px; 
            margin-left: 41px;
            margin-top: 20px;
            margin-bottom: 15px;
           
        }
        .class2{
            margin: 1px;
        }
        #b1{
            margin: 0px;
            padding-left: 65px;
            padding-top: 0px;
            font-size: 25px;
        }
        #b2{
            padding-left: 105px;
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 45px;
        }
        .class3{
            margin: 1px;
        }
        #b3{
            padding-left: 120px;
            margin-top: 32px;
        }
        #b4{
        
            padding-left: 115px;
            margin-top: 10px;
        }
        #b5{
            padding-left: 115px;
            margin-top: 10px;
        }#b6{
            padding-left: 92px;
            margin-top: 10px;
        }#b7{
            padding-left: 91px;
            margin-top: 10px;
        }#b8{
            padding-left: 75px;
            margin-top: 10px;
        }
        #b9{
            padding-left: 105px;
            margin-top: 10px;
        }
        .class4{
            border: 0px solid yellow;
            margin: 1px;
            margin-top: 72px;
            margin-left: 16px;


        }
        
        container a{
            text-decoration: none;
            color: black;
            font-weight: 700;
        }
        container a:hover{
            color: blue;
            text-decoration: underline;
        }
        #c1{
            text-decoration: none;
            color: blue;
            font-weight: 100;
        }
        header a:hover{
            color: blue;
            text-decoration: underline;}
            .box2 {
                border: 4px solid rgb(132,216,233);
                 /* background: url(/images/blue.jpg);  */
                background-color: rgb(132, 216, 233);
                display: inline-block;
                margin: -3px;
                padding-right: 690px;
                padding-top: 681px;
    
            }
    
            .box3 {
                border: 2px solid transparent;
            }
    
            #bb1 {
                font-size: 100px;
                font-weight: bold;
                 /* margin-top: 225px;
                margin-bottom: 98px;
                padding-left: 60px;
                padding-bottom: 60px;  */
                position: absolute;
                bottom: 255px;
                left: 400px; 
            }
    
            #b11 {
                position: absolute;
                bottom: 135px;
                left: 420px;
                cursor: pointer;
                border: 1px solid black;
                border-radius: 12px;
                background-color: white;
            }
            #i11{
                position: absolute;
                top: 66px;
                right:115px;
                height:672px;
                
            }
            .box4{
               display: inline-block;
    border: 4px solid rgb(176, 231, 134);
    background-color: rgb(176, 231, 134);
    padding-top: 678px;
    padding-right: 458px;
    
            }
            
            #ab1{
                position: absolute;
                top: 78px;
                height: 150px;
                right: 328px;

            }
            #ab2{
                position: absolute;
                top: 200px;
                height: 269px;
                right: 248px;
                width: 309px;
            
            }
            #ab3{
                position: absolute;
                top: 535px;
                height: 177px;
                right: 307px;
            }
            #ab4{
                position: absolute;
    top: 360px;
    height: 216px;
    right: 270px;
            }
            .box5{
                position: absolute;
                border: 2px solid transparent;
                font-weight: 700;
            }
            #bb2{
                top: 168px;
                right:172px;
            }
            #bb3{top: 120px;
                right: 21px;}
            #bb4{
                top: 362px;
    right: 220px;

            }
            #bb5{top: 463px;
                right: 204px;}
                #bb6{
                    top: 551px;
                    right: 284px;

                }
                #bb7{
                    top: 638px;
                    right: 291px;
    
                }